@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="min-height: 500px">
    <div class="panel-heading">
        <div><span class="fa fa-user fa-2x" aria-hidden="true"></span> <b>ALL USERS</b></div>
    </div>
    <div class="panel-body table-responsive">

       
    </div>
</div>

<script src="~/scripts/jquery-3.1.1.min.js"></script>