
@model  LottoGistAdmin.DataAccess.RemoteModel.ProductCategoryItemObj
@{
    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> New Product Category</h2>
        </div>


        <div class="panel-body">
            @if (hasError)
            {
                <div class="bs-callout bs-callout-danger" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            else
            {
                using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAddCategory", data_parsley_validate = "" }))
                {
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="dvError"></div>
                        <div class="form-group">
                            Product Category Name
                            <input type="text" class="form-control " value="@Model.Name" id="txtName" name="txtName" required="" data-parsley-required-message="Product Category Name is required">
                        </div>
                        <div class="form-group">
                            Status
                            <input type="checkbox" @(Model.StatusVal ? "checked=\"checked\"" : "") id="chkStatus">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" id="btnUpdate">Add Product Category</button>
                        </div>

                    </div>
                }


            }

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#frmAddCategory').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-danger').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            ClearInlineError("dvError");


            var roleName = $("#txtName").val();
            var chkStatus = $("#chkStatus").is(':checked');


            if (roleName == null || roleName === "" || roleName.length < 2) {
                InlineErrorMessage("Product Category Name must be at least 2 characters", "dvError");
                return false;
            }
           
            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessAddRequest", "ProductCategory")',
                data: JSON.stringify({ myName: roleName, myStatus: chkStatus }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "/Login";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {

                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Product Category was added successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });



    });


</script>







